/* Tut 14 */
* {
    margin: 0;
    padding: 0;
}

h1 {
    font: bold 20px Tahoma;
}

h2 {
    font: bold 14px Tahoma;
}

header, section, footer, aside, nav, article, hgroup {
    display: block;
}

body {
    width: 100%;
    display: -webkit-box;
    -webkit-box-pack: center;
    text-align: center;
}

/* Tut 15 */
#big_wrapper {
    max-width: 1000px;
    margin: 20px 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-flex: 1;
}

#top_header {
    background: yellow;
    border: 3px solid black;
    padding: 20px;
}

#top_menu {
    background: blue;
    border: red;
    color: white;
}

#top_menu li {
    display: inline-block;
    list-style: none;
    padding: 5px;
    font: bold 14px Tahoma;
}
#top_menu li a{
    color: white;
}

/* Tut 16 */
#new_div {
    display: -webkit-box;
    -webkit-box-orient: horizontal;

}

#main_section {
    border: 1px solid blue;
    -webkit-box-flex: 1;
    margin: 20px;
    padding: 20px;
}

#side_news {
    border: 1px solid red;
    width: 220px;
    margin: 20px 0;
    padding: 30px;
    background: #66CCCC;
}

#the_footer {
    text-align: center;
    padding: 20px;
    border-top: 2px solid green;
}
.right{
    float: right;
}
/*tut13*/
article{
    background: #FFFBCC;
    border: 1px solid red;
    padding: 20px;
    margin-bottom: 15px;
}
article footer{
    text-align: right;
}
/*tut17*/
#mommy{
    border: 2px solid blue;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    width: 1000px;
    height: 300px;
    /*-webkit-box-pack: center;*/
    -webkit-box-align: stretch;
}
#kid1{
    border: 2px solid red;
    background: green;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 3;
    /*width: 60px;*/
    -webkit-box-flex: 2;
    /*height: 100px;*/
}
#kid2{
    border: 2px solid red;
    background: yellow;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 1;
    /*width: 60px;*/
    -webkit-box-flex: 1;
    height: 100px;
}
#kid3{
    border: 2px solid red;
    background: red;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 4;
    /*width: 60px;*/
    -webkit-box-flex: 1;
    height: 100px;
}
#kid4{
    border: 2px solid red;
    background: orange;
    padding: 20px;
    margin: 10px;
    -webkit-box-ordinal-group: 2;
    /*width: 60px;*/
    -webkit-box-flex: 1;
    height: 100px;
}
/*tut20*/
#box{
    display: block;
    width: 500px;
    margin: 50px auto;
    padding: 35px;
    text-align: center;
    border: 7px solid blue;
    /*background: -webkit-linear-gradient(top, black, white);*/
    /*background: -webkit-linear-gradient(45deg, black, white);*/
    background: red; /* For browsers that do not support gradients */
    /*background: -webkit-radial-gradient(circle, red, orange); !* Safari *!*/
    /*background: -o-radial-gradient(circle, red, orange); !* Opera 11.6 to 12.0 *!*/
    /*background: -moz-radial-gradient(circle, red, orange); !* Firefox 3.6 to 15 *!*/
    /*background: radial-gradient(circle, red, orange); !* Standard syntax *!*/
    /*-webkit-border-radius: 15px;*/
    /*-webkit-box-shadow: rgba(110,110,110,.6) 5px 5px 8px;*/
    /*-webkit-box-shadw: rgb(110,110,110) 5px 5px 8px inset;*/
    /*outline: 7px solid green; !*do not use*!*/
    /*-webkit-transform: scale(2,1);*/
    /*-webkit-transform: rotate(45deg);*/
    /*-webkit-transform: skew(-45deg); !*do not use*!*/
    /*-webkit-transform: translate(150px, 20px);*/
    -webkit-transform: translate(150px, 20px) rotate(30deg) scale(.4); /*all transformations in one line*/
}
#text{
    font: bold 30px Century Gothic;
    text-shadow: rgb(110,110,110) 3px 3px 3px;
}